.project-info {

  padding: 30px;
  transform: translate3d(0, 100%, 0);
  position: absolute;
  top: 0;
  height: 100%;
  background: white;
  z-index: 5;
  transition: 2s ease;
  color: black;

  &.show {
    transform: translateZ(0);
  }

  h1.title{
    font-size:3em;
  }

}